@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Palanquin:wght@300;400;600;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


$Montserrat-family: 'Montserrat', sans-serif;
$Palanquin-family: 'Palanquin', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    width:100dvw;
    min-height:100dvh;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
    


/* Style the scrollbar */
/* Webkit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
}






@layer components {
     .max-container {
         max-width: 1440px;
         margin: 0 auto;

     }
 
     .input{
     @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
}

}

@layer utilities {
    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-16 px-8;
      }
    
      .padding-y {
        @apply sm:py-24 py-12;
      }
    
      .padding-l {
        @apply sm:pl-16 pl-8;
      }
    
      .padding-r {
        @apply sm:pr-16 pr-8;
      }
    
      .padding-t {
        @apply sm:pt-24 pt-12;
      }
    
      .padding-b {
        @apply sm:pb-24 pb-12;
      }
    
      .info-text {
        @apply font-montserrat text-slate-gray text-lg leading-7;
      }
}



